@model IEnumerable<ASPNET_MVC.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<div style="font-family:Arial">
    
    <h2>Category List</h2>
    <ul>
        @foreach (Category category in @Model)

        {
            //  <li><a asp-controller="Products", asp-action="ProductsIndex">@category.Name</a></li>

            <li>
            
                 @*@Html.ActionLink(category.Name, "ProductsIndex", "Products", new {@class = "linkStyle", categoryId = category.CategoryId}, null)*@
            

            <a href="@Url.Action("ProductsIndex","Products",new{categoryId = category.CategoryId})" class="btn btn-default" >@category.Name</a>


            </li>


            @*<form method="post"action="//Controllers/ProductsController/ProductsIndex">
                <select id=@category.CategoryId>
                    <option selected="selected">@category.Name</option>

                </select>
                <br /><button type="submit">Zobacz produkty</button>*

            </form>*@

        @*<li>
            @category.Name
                    <form method="post" action="//Controllers/ProductsController/ProductsIndex">
                    <input type="submit" value=@category.CategoryId />
                    </form>
        </li>*@

        }
    </ul>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

