
@model ASPNET_MVC.Views.Products.IndexModel

@{
    ViewData["Title"] = "Product list";
}

<h1>Index</h1>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Create">Create New</a>
    <!--<a asp-page="/Views/Products/Create">Create New</a> -->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if(Model == null){
        <span>no items found</span>
    }
    else
    {

        @foreach (var item in Model.Product)
         {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.Description)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Price)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Name)
                 </td>
                 <td>
                     <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Edit">Edit</a>
                     <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Details">Details</a>
                     <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Delete">Delete</a>

                     <!--
                      <a asp-page="/Views/Products/Edit" asp-route-id="@item.Id">Edit</a> |
                      <a asp-page="/Views/Products/Details" asp-route-id="@item.Id">Details</a> |
                      <a asp-page="/Views/Products/Delete" asp-route-id="@item.Id">Delete</a> -->
                 </td>
             </tr>
         }
    }
    </tbody>
</table>
