@model ASPNET_MVC.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<h3>Lista produktów</a></h3>

<p>
    <a href="@Url.Action("Edit","Product",new{})" class="btn btn-success">Dodaj nowy</a>
    @*<a asp-action="Edit)">Create New</a>*@
</p>
<table class="table">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Cena</th>
        <th>Kategoria</th>
        <th></th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id", class="btn btn-primary">Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.Id", class="btn btn-danger">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>